/*NAV*/
nav .active{
    font-weight: 700;
}
nav .navbar-toggler{
    border: solid 1px white;
}

/*MAIN*/
.container{
    margin-inline: auto;
}
main img{
    width: 100%;
}
main{
    padding-bottom: 4em;
}
main .row>*{
    padding-inline: 0.2em;
}
ul {
    list-style-type: none;
  }
a{
    text-decoration: none;
}
.btn{
    border-radius: 0;
}
.dropdown-item{
    --bs-dropdown-link-hover-bg: var(--bs-dark-bg);
}
@media screen and (min-width:450px){
    .list-btn{
        background-color: #212529;
    }
    .grid-btn{
        background-color: #6C757D;
    }
}
@media screen and (min-width:1000px){
    .list-btn{
        background-color: #6C757D;
    }
    .grid-btn{
        background-color: #212529;
    }
}

/*FOOTER*/
footer{
    width: 60%;
}
.more-info{
    padding-left: 2em;
}
footer p{
    font-size: 0.8em;
}
.social-links a{
    font-size: 1.3em;
}